.App {
  text-align: center;
}

li {
  list-style-type: none;
  text-align: justify;
  width: 35%;
  margin: 3em auto;
  padding: 1.5em;
  border-radius: 8px;
  background-color: rgb(67, 95, 119);
  color: aliceblue;
}
